<ng-container *transloco="let t; read: 'featureGameStats.addPlayerToGame'">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ t('Choose player') }}</mat-label>
      <select matNativeControl [formControl]="chosenPlayer">
        @for (player of playerOptions; track player.id) {
          <option [value]="player.id">
            {{ player.name }}
          </option>
        }
      </select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="save()"
      [disabled]="
        (addPlayerStatus | async) ===
          addPlayerToGameStatusMessages.addPlayerToGameInProgress ||
        (addPlayerStatus | async) ===
          addPlayerToGameStatusMessages.addPlayerToGameRetrying ||
        chosenPlayer.invalid
      "
      e2e="submit-game-player"
    >
      {{ t('Add player') }}
    </button>
    @if (
      (addPlayerStatus | async) ===
        addPlayerToGameStatusMessages.addPlayerToGameInProgress ||
      (addPlayerStatus | async) ===
        addPlayerToGameStatusMessages.addPlayerToGameRetrying
    ) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
</ng-container>
