<ng-container *transloco="let t; read: 'featureGameStats.addCardToGame'">
  <form mat-dialog-content [formGroup]="cardForm">
    <mat-form-field>
      <mat-label>{{ t('Card Receiver') }}</mat-label>
      <select
        matNativeControl
        formControlName="player"
        e2e="card-player-control"
      >
        @for (player of game.players; track player.id) {
          <option [value]="player.id">
            {{ player.name }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('Type') }}</mat-label>
      <select
        matNativeControl
        class="card-types"
        formControlName="cardType"
        e2e="card-type-control"
      >
        @for (type of cardtypes; track type) {
          <option [value]="type">
            {{ t(type) }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        matInput
        [placeholder]="t('Time')"
        formControlName="minute"
      />
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="save()"
      [disabled]="
        (addCardStatus | async) === addCardStatusMessages.addCardInProgress ||
        (addCardStatus | async) === addCardStatusMessages.addCardRetrying ||
        cardForm.invalid
      "
      e2e="submit-new-card"
    >
      {{ t('Add') }}
    </button>
    @if (
      (addCardStatus | async) === addCardStatusMessages.addCardInProgress ||
      (addCardStatus | async) === addCardStatusMessages.addCardRetrying
    ) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
</ng-container>
