<h1 e2e="player-details-name">
  @if (editing) {
    <mat-form-field>
      <input
        matInput
        type="text"
        [formControl]="playerNameEdit"
        (blur)="save()"
        e2e="name-change-control"
      />
    </mat-form-field>
  } @else {
    <a (click)="startEditingName()" style="cursor: pointer">
      {{ playerNameEdit.value }}
    </a>
  }
</h1>
