<ng-container *transloco="let t; read: 'featureGameStats.addShotToGame'">
  <form mat-dialog-content [formGroup]="shotForm">
    <mat-form-field>
      <mat-label>{{ t('Shot Taker') }}</mat-label>
      <select
        matNativeControl
        formControlName="player"
        e2e="shot-taker-control"
      >
        @for (player of this.game.players; track player.id) {
          <option [value]="player.id">
            {{ player.name }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('Assist') }}</mat-label>
      <select matNativeControl formControlName="assist" e2e="assist-control">
        @for (player of this.game.players; track player.id) {
          <option [value]="player.id">
            {{ player.name }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        matInput
        [placeholder]="t('Time')"
        formControlName="minute"
        e2e="minute-control"
      />
    </mat-form-field>
    <mat-checkbox formControlName="scored" e2e="scored-control">
      {{ t('Scored') }}
    </mat-checkbox>
    @if (shotForm.touched && shotForm.getError('cantAssistYourself')) {
      <span>
        {{ t('A player can not assist themselves') }}
      </span>
    }
  </form>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="save()"
      [disabled]="
        (addShotStatus | async) === addShotStatusMessages.addShotInProgress ||
        (addShotStatus | async) === addShotStatusMessages.addShotRetrying ||
        shotForm.invalid
      "
      e2e="submit-new-shot"
    >
      {{ t('Add') }}
    </button>
    @if (
      (addShotStatus | async) === addShotStatusMessages.addShotInProgress ||
      (addShotStatus | async) === addShotStatusMessages.addShotInProgress
    ) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
</ng-container>
