<ng-container
  *transloco="
    let t;
    scope: 'featurePlayerStats';
    read: 'featurePlayerStats.addPlayer'
  "
>
  <div mat-dialog-content>
    <mat-form-field>
      <input
        [formControl]="playerInput"
        matInput
        [placeholder]="t('Enter player name')"
        e2e="player-name-control"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="save()"
      [disabled]="
        (addPlayerStatus | async) ===
          addPlayerStatusMessages.addPlayerInProgress ||
        (addPlayerStatus | async) ===
          addPlayerStatusMessages.addPlayerRetrying ||
        playerInput.invalid
      "
      e2e="submit-new-player"
    >
      {{ t('Add') }}
    </button>
    @if (
      (addPlayerStatus | async) ===
        addPlayerStatusMessages.addPlayerInProgress ||
      (addPlayerStatus | async) === addPlayerStatusMessages.addPlayerRetrying
    ) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
</ng-container>
