<div>
  <mat-nav-list class="mat-elevation-z2">
    @for (game of games | async; track game.id) {
      <a [routerLink]="game.id" mat-list-item e2e="game-list-item">
        {{ game.name }}
      </a>
    }
  </mat-nav-list>
  <button mat-mini-fab (click)="addGame()" e2e="add-game">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div>
  <router-outlet></router-outlet>
</div>
