<ng-container
  *transloco="
    let t;
    scope: 'featureGameStats';
    read: 'featureGameStats.addGame'
  "
>
  <div mat-dialog-content>
    <mat-form-field>
      <input
        [formControl]="nameInput"
        matInput
        [placeholder]="t('Enter name')"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        [formControl]="locationInput"
        matInput
        [placeholder]="t('Enter location')"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        [formControl]="dateInput"
        matInput
        [placeholder]="t('Enter game date')"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-button
      (click)="save()"
      [disabled]="
        (addGameStatus | async) === addGameStatusMessages.addGameInProgress ||
        (addGameStatus | async) === addGameStatusMessages.addGameRetrying ||
        (dateInput.invalid && locationInput.invalid)
      "
      e2e="submit-new-game"
    >
      {{ t('Add') }}
    </button>
    @if (
      (addGameStatus | async) === addGameStatusMessages.addGameInProgress ||
      (addGameStatus | async) === addGameStatusMessages.addGameRetrying
    ) {
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
</ng-container>
