<ng-container *transloco="let t; read: 'featurePlayerStats.playerDetail'">
  <section class="table-title">
    <bsc-player-name-editor
      [playerName]="(player | async)?.name ?? ''"
      (playerNameChanged)="updateName($event)"
    ></bsc-player-name-editor>
    <div [matTooltip]="(canDelete | async) ?? ''">
      <button
        mat-raised-button
        color="warn"
        (click)="delete()"
        e2e="delete-player"
        [disabled]="canDelete | async"
      >
        {{ t('Delete') }}
        <mat-icon>delete</mat-icon>
      </button>
      @if ((deleting | async) === deletePlayerStatus.deletePlayerPending) {
        <mat-spinner diameter="20"></mat-spinner>
      }
    </div>
  </section>
  @if (playerGameTableData | async; as pgtd) {
    <table mat-table [dataSource]="pgtd" class="mat-elevation-z2">
      <ng-container matColumnDef="gameName">
        <th mat-header-cell *matHeaderCellDef>{{ t('Game Name') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>{{ t('Location') }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.location }}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ t('Date') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>
      <ng-container matColumnDef="goals">
        <th mat-header-cell *matHeaderCellDef>{{ t('Goals') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.goals }}</td>
      </ng-container>
      <ng-container matColumnDef="shots">
        <th mat-header-cell *matHeaderCellDef>{{ t('Shots') }}</th>
        <td mat-cell *matCellDef="let element">{{ element.shots }}</td>
      </ng-container>
      <ng-container matColumnDef="shotAverage">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          {{ element.goals / element.shots | percent }}
        </td>
      </ng-container>
      <ng-container matColumnDef="assists">
        <th mat-header-cell *matHeaderCellDef>{{ t('Assists') }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.assists }}
        </td>
      </ng-container>
      <ng-container matColumnDef="yellowCard">
        <th mat-header-cell *matHeaderCellDef>
          {{ t('Yellow Card Received') }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element.yellowCard) {
            <mat-icon class="yellow-card"> flag </mat-icon>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="redCard">
        <th mat-header-cell *matHeaderCellDef>{{ t('Red Card Received') }}</th>
        <td mat-cell *matCellDef="let element">
          @if (element.redCard) {
            <mat-icon class="red-card"> flag </mat-icon>
          }
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  }
</ng-container>
