<ng-container *transloco="let t; read: 'featureGameStats.shotList'">
  <h2>Shots Taken</h2>
  <table mat-table [dataSource]="shots" class="mat-elevation-z2">
    <ng-container matColumnDef="player">
      <th mat-header-cell *matHeaderCellDef>{{ t('Player') }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.playerName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="assist">
      <th mat-header-cell *matHeaderCellDef>{{ t('Assist') }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.assistName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="successful">
      <th mat-header-cell *matHeaderCellDef>{{ t('Scored') }}</th>
      <td mat-cell *matCellDef="let element">{{ element.scored }}</td>
    </ng-container>
    <ng-container matColumnDef="minute">
      <th mat-header-cell *matHeaderCellDef>{{ t('Minute') }}</th>
      <td mat-cell *matCellDef="let element">{{ element.minute }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      e2e="game-shot"
    ></tr>
  </table>
  <button mat-mini-fab color="accent" (click)="addShot()" e2e="add-shot">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>
